<div id="<%= dom_id platform %>">
  <p>
    <strong>Name:</strong>
    <%= platform.name %>
  </p>

  <p>
    <strong>Releasedate:</strong>
    <%= platform.releaseDate %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= platform.age %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
    <%= platform.manufacturer %>
  </p>

  <p>
    <strong>Has games?</strong>
    <%= platform.has_games? %>
  </p>

</div>
