<h1>Platforms</h1>

<ul>
  <% @platforms.each do |platform| %>
    <li>
      <%= link_to platform.name, platform_path(platform) %>
    </li>
  <% end %>
</ul>

<div>
  <%= button_to "Create New Platfotm", new_platform_path, method: :get, class: 'btn-primary' %>
  <%= button_to 'Back to Home', root_path, method: :get, class: 'btn' %>
</div>

<% flash.each do |key, message| %>
  <div class="flash <%= key %>"><%= message %></div>
<% end %>
