<div id="<%= dom_id publisher %>">
  <p>
    <strong>Name:</strong>
    <%= publisher.name %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= publisher.formatted_country %>
  </p>

  <p>
    <strong>General manager:</strong>
    <%= publisher.formatted_general_manager %>
  </p>

  <p>
    <strong>Has games?</strong>
    <%= publisher.has_games? %>
  </p>

</div>
