<p style="color: green"><%= notice %></p>

<%= render @publisher %>

<div>
  <%= button_to "Edit", edit_publisher_path(@publisher), method: :get %>
  <%= button_to "Delete", @publisher, method: :delete %>

  <%= button_to "Back to publishers", publishers_path, method: :get %>
</div>
