<%= form_with(model: game, class: 'form_new') do |form| %>
  <% if game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>
      <ul>
        <% game.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :genre %>
    <%= form.text_field :genre %>
  </div>

  <div>
    <%= form.label :releaseDate %>
    <%= form.date_field :releaseDate %>
  </div>

  <div>
    <%= form.label :publisher_id, "Publisher" %>
    <%= form.collection_select :publisher_id, @publishers, :id, :name %>
  </div>

  <div>
    <%= form.label :platform_id, "Platform" %>
    <%= form.collection_select :platform_id, @platforms, :id, :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
