<div id="<%= dom_id game %>">
  <p>
    <strong>Title:</strong>
    <%= game.title %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= game.formatted_genre %>
  </p>

  <p>
    <strong>Release Date:</strong>
    <%= game.releaseDate %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= game.age %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= game.publisher.name %>
  </p>

  <p>
    <strong>Platform:</strong>
    <%= game.platform.name %>
  </p>

</div>