<h1>Games</h1>

<ul>
  <% @games.each do |game| %>
    <li>
      <%= link_to game.title, game_path(game) %>
    </li>
  <% end %>
</ul>

<div>
  <%= button_to 'Create New Game', new_game_path, method: :get, class: 'btn-primary' %>
  <%= button_to 'Back to Home', root_path, method: :get, class: 'btn' %>
</div>

<% flash.each do |key, message| %>
  <div class="flash <%= key %>"><%= message %></div>
<% end %>
